@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #07090F;
  --background-rgb: #D8C1AC;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* Remove input corner radius  */
input[type=search],
input[type=button] {
  border-radius: 0;
  -webkit-border-radius: 0;
}

/* Remove input ‘X’ */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Remove input focus outline */
input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  caret-color: black;
}

/* input placeholder color */

input::placeholder {
  color: var(--foreground-rgb);
  opacity: 0.45;
  /* Firefox */
}

.icon-svg>svg {
  width: 100%;
  height: 100%;
}

.text-pretty a {
  /* cursor: alias; */
  text-decoration: underline;
  text-underline-offset: 1.5px;
}

.text-pretty a.new {
  /* cursor: alias; */
  text-decoration: none;
  pointer-events: none;
}

body:has(.report-content) {
  overflow: hidden;
}


.report-container:has(.report-content) {
  overflow-y: scroll;
  overflow-x: hidden;
}

.report-content figure {
  float: right;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 45%;
  margin: 10px;
  margin-right: 20px;
  border-width: 6px;
}

.report-content :not(img):empty {
  display: none;
}

.report-content img {
  width: 100%;
  flex-grow: 0;
}

.report-content figcaption {
  font-size: 12px;
  padding: 0 2px 0 2px;
  line-height: 16px;
  margin-top: 8px;
}

.report-content p {
  margin-bottom: 1.5rem;
}


.petals--rear {
  opacity: 0.02;
}

.petal--rear {
  fill: none;
  stroke: rgb(216 193 172);
  stroke-width: 4px;
}

.petals--wireframe {
  opacity: 0.1;
}

.petal--wireframe {
  fill: none;
  stroke: rgb(216 193 172);
  stroke-width: 3px;
}

.petals--front {
  fill: rgb(216 193 172);
}

.petal--front {
  opacity: 0.65;
}


div.skeleton-wrap {
  opacity: 0.5;
}

.text-lg.skeleton {
  width: 100%;
  height: 24px;
}


.text-base.text-center.skeleton {
  width: 96px;
  min-height: 16px;
  margin-bottom: 4px;
}

.skeleton.skeleton-icon {
  width: 60%;
  height: 60%;
  margin: 4px;
}


.skeleton {
  background-color: rgb(67, 62, 60);
  animation: shine 1s ease infinite;
}

@keyframes shine {
  from {
    background-color: rgb(67, 62, 60);
  }

  50% {
    background-color: rgb(156, 140, 127);
  }

  to {
    background-color: rgb(67, 62, 60);
  }
}



.brand-content {
  p {
    margin: 1rem;
    margin-left: 0;
    line-height: 1.6em;
  }

  b {
    font-weight: 400;
  }

  a {
    /* color: #4E68C6; */
    text-decoration: underline;
    text-decoration-color: rgb(67, 62, 60, 0.25);
    text-underline-offset: 1.5px;
  }

  a:hover {
    text-decoration-color: rgb(67, 62, 60, 0.5);
  }

}




.card {
  /* border-left: 1em solid #a2a9b1; */
  box-sizing: border-box;
  break-inside: avoid;
  overflow: visible;
  position: relative;
  margin: 2em 0 1.5em 0;
  left: -0.15em;

}

.card-border {
  position: absolute;
  top: -1em;
  bottom: -0.35em;
  left: -1em;
  width: 16.66666666666%;

  border: 6px solid rgba(7, 9, 15, 0.25) !important;
  border-right: none !important;
}

.card .right {
  float: right;
}

.wikipedia-excerpt {

  .references,
  p:empty,
  .toclimit-3 {
    display: none;
  }

  .card-icon {
    /* background-color: var(--foreground-rgb); */
    float: left;
    margin-top: 0.3em;
    margin-right: 0.3em;
    margin-left: 0.4em;
    margin-bottom: 0;
  }

  .card-icon img {
    height: 1.45em;
    width: 1.45em;
  }

  .card-tooltip {
    float: right;
    margin: .5em;
    margin-left: 0.3em;
    margin-top: 0.3em;
  }

  .card-title {
    font-weight: 500;
    margin: .5em;
    margin-left: 0.3em;
    margin-top: 0.3em;
    display: inline-block;
    white-space: nowrap;
  }

  .card-title a {
    color: #3E5BC1;
    text-decoration: none;
    margin: 0em 0.05em;
  }

  .card-content {
    margin: .5em;
    margin-left: 0.3em;
    margin-top: -1em;
  }

  .card-content img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

  .card-content .thumb {
    background: transparent;
    border: none;
  }

  .card-content .thumbinner {
    margin: 0;
  }

  .card-content .template-video {
    background: transparent;
    border: none;
    padding: 0;
  }

  .card-grid {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 1em 0;
    width: auto;
  }



  /* Live Excerpt Indicator */

  .card-indicator {
    /* float: right; */
    display: inline-block;
    position: relative;
    width: 40px;
    height: 14px;
    /* background-color: #BF211E; */
    top: 3.5px;
    right: 8px;
    /* top:10px;
    right:50px; */
    opacity: 0.65;
  }

  .pulse {
    /* background-color: var(--background-rgb); */
    background-color: #458A2D;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    left: 2.5px;
    top: 1.5px;
    animation: blink 3.5s ease-in-out;
    animation-iteration-count: infinite;
    opacity: 0.5;
  }

  .circle::after {
    /* content:'Live'; */
    font-weight: 500;
    /* font-size: 11px; */
    line-height: 12px;
    /* color: var(--background-rgb); */
    /* color: #BF211E; */
    position: absolute;
    /* top:0.75px; */
    left: 15px;

  }

  @keyframes blink {
    0% {
      opacity: 0.5;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0.5;
    }
  }

  @media (max-width:576px) {
    .card-title {
      overflow-x: hidden;
      text-indent: -134px;
    }

    .card-indicator {
      top: -11px;
      right: 4.5px;
    }

  }
}


/**
   * Dark mode
   */
html.skin-citizen-dark .card {
  background: #303134;
  border-color: #3c4043;
  color: #bdc1c6;
}

html.skin-citizen-dark .card-icon {
  filter: invert(1);
}




/* Interwiki inclusion modifications */
.wikipedia-excerpt .error,
.infobox,
.navigation-not-searchable {
  display: none;
}

.wikipedia-excerpt .mw-references-wrap {
  height: 0;
  overflow: hidden;
  margin-top: 0;
}